{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h2>{{ genre.title }}</h2>
    {{ genre.description|richtext }}


<!-- {% for foo in genre.sub_genre_slug %}
{{ foo }}
{% endfor %}

{% for foo in genre.sub_genre_title %}
{{ foo }}
{% endfor %}

{% for foo in genre.sub_genre_description %}
{{ foo }}
{% endfor %} -->

{% for foo in genre.subgenres %}
<li><a href="{{ foo.slug }}">{{ foo.title }}</a> {{ foo.description }}</li>
{% endfor %}
{% for foo in genre.sub_genres %}
    {% comment %}
    Okay, so we've got subgenres coming in from the genre model (line 62). Unlike the artist model though it's only grabbing the title (not _all_ subgenre attributes). We can grab another attribute by doing for example `n.description`. But that isn't terribly useful.

    I think the issue is that I need to define a property within the sub-genre class itself that returns all of it's attributes?
    {% endcomment %}
    <p>
            {{ foo }}
            {{ foo.url }}
    </p>
{% endfor %}
{% endblock %}
