{% load navigation_tags compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        {% block extra_css %}

        {% endblock %}
    </head>

    <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
        {% wagtailuserbar %}

{% block header %}  
<header>

<nav>
{% block menu %}
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
  <li class="menu-text"><h1>Rock 'n' roll Wagtail</h1></li>
</div>

<div class="top-bar"  style="width:100%" id="main-menu">
    <div class="row">
        <div class="columns small-12 medium-9">
            <div class="top-bar-left title">
            <h1><a href="/">Rock 'n' roll Wagtail</a></h1>
            </div>
            {% get_site_root as site_root %}
            {% main_menu %}
    {% comment %}
        {% main_menu parent=site_root calling_page=self %}
    {% endcomment %}
        </div>
    </div>
</div>
{% endblock menu %}
  </nav>
</header>  
{% endblock header %}

{% block breadcrumb %}
    {% include "tags/breadcrumbed.html" %}
{% endblock breadcrumb %}

{% block content %}        
{% endblock %}

{% block footer %}
    <footer>
    {% get_site_root as site_root %}
        {% footer_menu %}
    {% comment %}
        <ul class="small-8 small-centered columns inline-list">
            <li>Made by <a href="//github.com/heymonkeyriot">Edd Baldry</a> (and <a href="//github.com/heymonkeyriot/rocknroll-wagtail/graphs/contributors">friends</a>)</li>
            <li>With the very awesome <a href="//wagtail.io">Wagtail CMS</a></li>
    {% endcomment %}

    </footer>        
{% endblock footer %}
       
        {% compress js %}
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
        {% endblock %}
    {% block foundation-components %}
        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/what-input/what-input.js' %}"></script>
        <script src="{% static 'bower_components/foundation-sites/dist/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock %} 
    </body>
</html>

