// Detail views

/* AUTHOR */
.author-detail {
    background-color: $rust;
    color: $white;
    padding-bottom: $global-padding*3;
    a {
        color: $white;
        text-decoration: underline;
    }
    .author-image {
        float: left;
        margin-top: $global-margin;
        margin-right: $global-margin*3;
        img {
            border-radius: 100%;
            border: 10px solid darken($rust, 10%);
            min-width: 150px;
            min-height: 150px;
        }
    }
    .author-text {
        float: left;
        .author-title {
            display: flex;
            h2 {
                margin-right: $global-margin;
            }
            h3 {
                font-style: italic;
                opacity: 0.6;
                margin-top: 10px;
            }
        }
    }
}

.feature-items {
    display: flex;
    flex-flow: row wrap;
    @include padding_horizontal_reduced;
    .feature-item {
        width: 31.96%;
        display: flex;
        flex-direction: column;
        margin-bottom: $global-margin;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        > *:not(.feature-item-image, ul) {
            padding-left: $global-padding;
            padding-right: $global-padding;
        }
        img {
            background-color: $metal;
            height: 200px;
            overflow: hidden;
            width: 400px;
        }
    }
}

.review-items {
    display: flex;
    flex-flow: row wrap;
    @include padding_horizontal_reduced;
    .review-item {
        width: 24%;
        display: flex;
        flex-direction: column;
        margin-bottom: $global-margin;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        .review-item-image {
            background-color: $floor;
            margin: $global-margin auto;
            height: 200px;
            width: 200px;
        }
        .review-item-rating {
            width: auto;
            margin: auto;
        }
    }
}

/* -------------------- */
/* FEATURE DETAIL PAGES */
/* -------------------- */
/* Feature detail page main content */
.template-feature-content-page, .template-review-page {
    h1 {
        font-size: 4rem;
    }
    .header {
        ul {
            list-style: none;
            li {
                display: inline-block;
            }
        }
        .feature_title-meta {
            margin-bottom: $global-margin;
            display: flex;
            justify-content: center;
            .authors {
                margin: -1px 0 0 6px;
            }
        }
    }
    .feature-introduction {
        color: $custom-black;
        font-size: 1.4em;
        text-align: center;
        @include line-height_extra;
        @include padding_horizontal;
        @include padding_vertical;
    }
    .feature-image {
        img {
                width: 100%;
            }
        .fit {
            @include padding_horizontal;
        }
        .expand {
            @include padding_horizontal;
            margin-left: -100px;
            margin-right: -100px;
            
        }
        .full {}
    }
    .feature-content {
        display: flex;
        @include breakpoint(medium down){
            display: block;
        }
        .feature-body {
            flex: 2;
        }
        .feature-related {
            flex: 1;
        }
    }
    .feature-body {
        padding-top: $global-padding*2;
        .block-header, 
        .block-paragraph, 
        .block-blockquote, 
        .block-embed {
            @include padding_horizontal_left;
            padding-right: 2em;
        }
        .block-image {
            img {
                width: 100%;
            }
            figure {
                margin-left: 0;
                margin-right: 0;
            }
            figcaption {
                color: $custom-black;
            }
            .square {
                @include padding_horizontal_left;
                figure {
                    display: flex;
                }
                img {
                    width: 350px;
                    height: 350px;
                    margin-right: $global-margin;
                }
                figcaption {
                    align-self: flex-end;
                }
            }
            .full {
                figcaption {
                    margin-top: $global-margin;
                    @include padding_horizontal_left;
                }
            }
            .fit {
                @include padding_horizontal_left;
            }
        }
    }
    .feature-body:only-child {
    // For when no .feature-related
    // Related items are optional, and know that if .feature-related isn't there
    // that .feature-body will be an :only-child.
        .block-header, 
        .block-paragraph, 
        .block-blockquote, 
        .block-embed {
            @include padding_horizontal_left;
            @include padding_horizontal_right_extra;
        }
        .block-image {
            .square {
                @include padding_horizontal_left;
                @include padding_horizontal_right_extra;
                figure {
                    display: flex;
                }
                img {
                    width: 350px;
                    height: 350px;
                    margin-right: $global-margin;
                }
                figcaption {
                    align-self: flex-end;
                }
            }
            .full {
                figcaption {
                    @include padding_horizontal_left;
                    @include padding_horizontal_right_extra;
                }
            }
            .fit {
                @include padding_horizontal_left;
                @include padding_horizontal_right_extra;
            }
        }
    }
    .feature-related:only-child {
        flex: 0;
        margin: auto;
        p {
            margin: 0 auto 10px auto;
            text-align: center;
        }
    }
/* Feature detail page related content */
    .feature-content {
        .feature-related {
            padding-top: $global-padding*2;
            h2 {
                font-size: 1.7em;
            }
                .artist, .album {
                    text-align: center;
                    width: 12em;
                }
            }
        }
}


/* -------------------- */
/* ARTIST DETAIL PAGES */
/* -------------------- */
/* artist detail page main content */
.template-artist-detail-page {
    text-align: center;
    h1 {
        // duplicate
        font-size: 4rem;
    }
    .feature-item {
        background-color: $floor;
        ul {
            display: flex;
            flex-flow: row wrap;
            margin: auto;
            padding: 0;
            li {
                list-style: none;
                margin-right: $global-margin*0.5;
            }
        }
        h2 {
            font-size: 1.8em;
            a {
                border-bottom: none;
            }
        }
        p {
            font-size: 0.9em;
            flex-grow: 1;
        }
        .feature-item-footer {
            color: $custom-black;
            padding-bottom: $global-padding;
        }
    }
    .feature-introduction {
        // duplicate
        color: $custom-black;
        font-size: 1.4em;
        text-align: center;
        @include line-height_extra;
        @include padding_horizontal;
        @include padding_vertical;
    }
}


/* -------------------- */
/*  REVIEW DETAIL PAGES */
/* -------------------- */
.template-review-page {
    // note most of this is defined on the feature-content-page
    .star_ratings_sprite {
        margin: 10px auto;
    }
    ul.genre {
        li {
            display: inline-block;
            margin: auto $global-margin 0 0
        }
    }
    .block-Songs {
    font-size: 0.9em;
    text-align: left;
        li {
            margin-left: $global-margin*0.5;
            > * {
                display: inline-block;
            }
        }
        .song-length {
            color: $custom-black;
        }
    }
}

/* Slow refactoring of duplicates used consistently across all detail views */
.artist-image {
    border-radius: 100%;
    margin: auto;
    margin-bottom: $global-margin*2;
    width: 120px;
    height: 120px;
    overflow: hidden;
    img {
        width: auto;
    }
}

// Additional styling for the features app. Specifically features index page
// and the features page templates


.page_title-meta {
    .columns {
        display: flex;
    }
    date {
        margin-right: $global-margin;
    }
}

