// List views

/* ALBUMS */
/* note to self http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.album-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    .album-item {
        margin-bottom: $global-margin;
        margin-right: $global-margin;
        width: 23%;
        background-color: $floor;
        .album-image {
            overflow: hidden;
            min-height: 200px;
            max-height: 200px;
        }
        .album-details {
            padding: $global-padding;
            h2 {
                font-size: 1.8em;
            }
            h3 {
                font-size: 1.4em;
            }
        }
    }
}

.author-list {
    .author-item {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-bottom: $global-margin*3;
        img {
            border-radius: 100%;
            margin-right: $global-margin*2.5;
            max-width: 80px;
            max-height: 80px;
        }
        h2 {
            font-size: 1.8em;
            margin-bottom: 0px;
        }
        h4 {
            font-style: italic;
            color: $metal;
        }
        &:last-child {
            margin-bottom: 0;
        }
/*        &::after {
            content:"";
            height: 1px;
            width: 80px;
            background-color: $metal;
            display: block;
        }*/
    }
}