// List views
/* TABLE OF CONTENTS
    • Albums
    • Authors
    • Features
    • Filters
*/

/* ALBUMS */
/* note to self http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.album-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    .album-item {
        margin-bottom: $global-margin;
        margin-right: $global-margin;
        width: 23%;
        background-color: $floor;
        .album-image {
            overflow: hidden;
            min-height: 200px;
            max-height: 200px;
        }
        .album-details {
            padding: $global-padding;
            h2 {
                font-size: 1.8em;
            }
            h3 {
                font-size: 1.4em;
            }
        }
    }
}

/* AUTHORS */
.author-list {
    .author-item {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-bottom: $global-margin*3;
        img {
            border-radius: 100%;
            margin-right: $global-margin*2.5;
            max-width: 80px;
            max-height: 80px;
        }
        h2 {
            font-size: 1.8em;
            margin-bottom: 0px;
        }
        h4 {
            font-style: italic;
            color: $metal;
        }
        &:last-child {
            margin-bottom: 0;
        }
/*        &::after {
            content:"";
            height: 1px;
            width: 80px;
            background-color: $metal;
            display: block;
        }*/
    }
}

/* FEATURES */
.template-feature-index-page {
    content {
        h1 {
            padding-left: $global-padding;
        }
    }
}
.feature-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding-left: $global-padding;
    text-align: center;
    .feature {
        margin-bottom: $global-margin*3;
        margin-right: $global-margin*2;
        width: 45%;
        &:only-child {
            // where the feature is all alone :sob:
            margin: auto;
        }
        img {
            margin-bottom: -$global-margin*1.3;
        }
        .feature-image {
            height: 285px;
            background-color: pink;
            float: left;
            width: 100%;
            overflow: hidden;
        }
        .feature-genres {
            ul {
                list-style: none;
                li {
                    a {
                        background-color: $white;
                        padding: $global-padding;
                    }
                }
            }
        }
        .feature-authors {
            margin-bottom: $global-margin;
            &::after {
                content: "";
                display: block;
                margin: auto;
                width: 40px;
                height: 1px;
                background-color: $rust;
            }
            ul {
                list-style: none;
                display: inline-block;
                max-width: 48%;
                &::after {
                    content: "•";
                    display: inline-block;
                    margin: 0 10px 0 10px;
                }
                li {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
            date {
                display: inline-block;
                max-width: 48%;
            }
        }
        .feature-artists {
            ul {
                list-style: none;
                display: inline-block;
                max-width: 48%;
            }
            li {
                    display: inline-block;
                    margin-left: 10px;
                }
        }
        .feature-text {
            a {
                color: $metal;
            }
        }
    }
}


/* FILTERS */
.filter-bar {
    display: flex;
    padding-left: $global-padding;
    .filter-bar_item {
        margin-right: $global-margin;
        width: 32%;
    }
    .filter-bar_submit {
        margin-top: $global-margin*1.5;
    }
}






