@mixin padding_horizontal {
    padding-left: $global-padding*20;
    padding-right: $global-padding*17;
    @include breakpoint(large down){
        padding-left: $global-padding*12;
        padding-right: $global-padding*12;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding*2;
        padding-right: $global-padding*2;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding;
        padding-right: $global-padding;
    }
}

@mixin padding_horizontal_reduced {
    padding-left: $global-padding*10;
    padding-right: $global-padding*10;
    @include breakpoint(large down){
        padding-left: $global-padding*6;
        padding-right: $global-padding*6;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding*2;
        padding-right: $global-padding*2;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding;
        padding-right: $global-padding;
    }
}

@mixin padding_horizontal_left {
    padding-left: $global-padding*20;
    @include breakpoint(large down){
        padding-left: $global-padding*12;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding*2;
    }
    @include breakpoint(medium down){
        padding-left: $global-padding;
    }
}

@mixin padding_horizontal_right {
    padding-right: $global-padding*22;
    @include breakpoint(large down){
        padding-right: $global-padding*12;
    }
    @include breakpoint(medium down){
        padding-right: $global-padding*2;
    }
    @include breakpoint(medium down){
        padding-right: $global-padding;
    }
}

@mixin padding_horizontal_right_extra {
    padding-right: $global-padding*40;
    @include breakpoint(large down){
        padding-right: $global-padding*12;
    }
    @include breakpoint(medium down){
        padding-right: $global-padding*2;
    }
    @include breakpoint(medium down){
        padding-right: $global-padding;
    }
}

@mixin padding_vertical {
    padding-top: $global-padding*2;
    padding-bottom: $global-padding*2;
    @include breakpoint(medium down){
        padding-top: $global-padding;
        padding-bottom: $global-padding;
    }
}

@mixin line-height_extra {
    line-height: $global-lineheight*1.3;
    @include breakpoint(medium down){
        line-height: $global-lineheight;
    }
}
/* .element { @include padding(10px); } */