// Base styling for Rock n roll Wagtail's MENUS

.top-bar, .title-bar {
    background-color: $metal;
    color: $white;
    h1 {
        font-size: 1.6em;
        margin-bottom: 0;
        margin-top: 10px;
        width: 250px;
        a {
          color: $white;
        }
    }
}

.top-bar {
  padding: 0px;
  ul {
      background-color: transparent;
  }
  .dropdown.menu {
    margin-left: 30px;
      > li {
        padding: 10px 0;
            &:hover {
              background-color: $night;
            }
          > a {
              color: $white;
              margin: 0 10px;
              &:hover{
                color: $white;
              }
          }
          > ul {
            > li {
              a {
                border-bottom: 1px solid $metal;
                color: $white;
                padding-left: 1.6em;
              }
            }
          }
      }
      ul {
          background-color: $night;
          border: 0;
      }
  }
}

/* STOP FOUC FROM FOUNDATION LOADING MENU */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 1rem;
}

/* PAGIINATION */
.pagination {
  padding-left: $global-margin*2;
}

/* footer */
footer {
  ul {
    display: inline-block!important;
    li {
      display: inline-block!important;
      visibility: visible!important;
      position: relative!important;
      ul {
        display: inline-block!important;
        visibility: visible!important;
        position: relative!important;
        li {
          display: inline-block!important;
          visibility: visible!important;
          position: relative!important;
        }
      }
    }
  }
}
