// Additional styling for the features app. Specifically features index page
// and the features page templates

.template-feature-content-page {
    h1 {
        font-size: 4rem;
    }
}

.page_title-meta {
    .columns {
        display: flex;
    }
    date {
        margin-right: $global-margin;
    }
}

.introduction {
    background-color: $rust;
    //background-color: $metal;
    //background-color: $bracken;
    color: $white;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
}

.feature-body {
    background-color: $floor;
    padding-top: $global-padding*2;
}