// Base styling for Rock n roll Wagtail's MENUS

.top-bar, .title-bar {
    background-color: $metal;
    color: $white;
    h1 {
        font-size: 1.6em;
        margin-bottom: 0;
    }
}

.top-bar {
  padding: 0px;
  ul {
      background-color: transparent;
  }
  .dropdown.menu {
    margin-left: 30px;
      > li {
            &:hover {
              background-color: $white;
            }
          > a {
              color: $white;
              margin: 0 10px;
              &:hover{
                color: $metal;
              }
          }
      }
      ul {
          background-color: $white;
          border: 0;
      }
  }
}

/* STOP FOUC FROM FOUNDATION LOADING MENU */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}