// Detail views

/* AUTHOR */
.author-detail {
    background-color: $rust;
    color: $white;
    padding-bottom: $global-padding*3;
    a {
        color: $white;
        text-decoration: underline;
    }
    .author-image {
        float: left;
        margin-top: $global-margin;
        margin-right: $global-margin*3;
        img {
            border-radius: 100%;
            border: 10px solid darken($rust, 10%);
            min-width: 150px;
            min-height: 150px;
        }
    }
    .author-text {
        float: left;
        .author-title {
            display: flex;
            h2 {
                margin-right: $global-margin;
            }
            h3 {
                font-style: italic;
                opacity: 0.6;
                margin-top: 10px;
            }
        }
    }
}

.feature-items {
    @include grid-column-row($grid-column-gutter);
    .feature-item {
        @include grid-column(6, $grid-column-gutter);
    }
}

/* FEATURE DETAIL PAGES */
.template-feature-content-page {
    h1 {
        font-size: 4rem;
    }
    .header {
        ul {
            list-style: none;
            li {
                display: inline-block;
            }
        }
        .feature_title-meta {
            margin-bottom: $global-margin;
            display: flex;
            justify-content: center;
            .authors {
                margin: -1px 0 0 6px;
            }
        }
    }
    .feature-introduction {
        color: $custom-black;
        font-size: 1.4em;
        text-align: center;
        @include line-height_extra;
        @include padding_horizontal;
        @include padding_vertical;
    }
    
    .feature-content {
        display: flex;
        @include breakpoint(medium down){
            display: block;
        }
        .feature-body {
            flex: 2;
        }
        .feature-related {
            flex: 1;
        }
    }
    .feature-body {
        padding-top: $global-padding*2;
        .block-header, 
        .block-paragraph, 
        .block-blockquote, 
        .block-embed {
            @include padding_horizontal_left;
            padding-right: 2em;
        }
    }
    .feature-body:only-child {
    // Related items are optional, and know that if .feature-related isn't there
    // that .feature-body will be an :only-child. 
        .block-header, 
        .block-paragraph, 
        .block-blockquote, 
        .block-embed {
            @include padding_horizontal_left;
            @include padding_horizontal_right_extra;
        }
    }
}

// Additional styling for the features app. Specifically features index page
// and the features page templates


.page_title-meta {
    .columns {
        display: flex;
    }
    date {
        margin-right: $global-margin;
    }
}

