{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

Order by rating <a href="?sort_by=rating-desc">high to low</a> &middot; <a href="?sort_by=rating-asc">low to high</a>
<div class="row">
  <div class="columns">
    {% for review in reviews %}
            
      {% for album in review.albums %}
      <h2> 
        <a href="{{ review.url }}">
          {{ album.title }} <span>by</span>
      {% for artist in album.artists %}
            {{ artist.title }}
      {% endfor %}
        </a>
      </h2>
          <ul class="genre">
              {% for genre in album.genres %}
                  <li><a href="{{ genre.url }}">{{ genre }}</a></li>
              {% endfor %}
          </ul> 
      {% endfor %}

      {% for author in review.authors %}
            <a href="{{ author.url }}">{{ author }}</a><br />
      {% endfor %}

        {{ review.listing_introduction }}
        {% if review.image %}
              {% image review.image width-100 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        {% endif %}
        <a href="{{ review.url }}">read more</a>

    {% endfor %}
</div>
</div>

{% if reviews.paginator.count > 1 %}
  {% include "includes/pagination.html" with subpages=reviews %}
{% endif %}
{% endblock %}
