{% extends "base.html" %}
{% load wagtailcore_tags mathfilters wagtailimages_tags %}

{% block content %}
<article class="article">
    <div class="header">
        <header class="row feature_title text-center">
        {# @TODO put text-center into sass #}
            {% for album in page.albums %}
            <figure>{% image album.image fill-200x200 %}</figure>
                <h2 class="album-artist">
                {% for artist in album.artists %}
                        {{ artist.title }}
                        {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </h2>
                <h2 class="album-title">
                    "<em>{{ album.title }}</em>"
                </h2>
                <date>Released {{ album.release_date }}</date>
            {% endfor %}
        </header>
    </div>

<aside>
    <div class="row feature_title_meta">
        <div class="columns small-12 text-center">
        {# @TODO refactor these div classes. Dedupe between review_page and feature_content_page #}
            Review by {% for author in page.authors %}
                <a href="{% url 'authors' %}{{ author.slug}}">{{ author.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <p>{{ page.date_release }}</p>
            
            <div class="review-item-rating">
                {% with width=self.rating %}
                    <div class="rating star_ratings_sprite"><span style="width:{{ width|mul:20 }}%" class="star_ratings_sprite_rating"></span></div>
                {% endwith %}
            </div>
            

            
            <div class="row feature_artist_genre">
            {% for album in page.albums %}
             {% if album.genre %}
             <ul class="genre">   
                {% for foo in album.genres %}
                     <li><a href="..?genre={{ foo.slug }}">{{ foo.title }}</a></li>
                     {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</aside>

{% if page.introduction %}
    <div class="feature-introduction">
        {{ page.introduction }}
    </div>
{% endif %}

<div class="feature-content">
    {% if page.body %}
        <div class="feature-body">
            {{ page.body }}
        </div>
    {% endif %}


<aside class="feature-related">
    {% if page.body %}
    {% comment %}
    @TODO
    This is a nasty hack because we need .feature-related to be an :only-child
    for the CSS to correctly style it.
    {% endcomment %}
        {% else %}
        <p>Sorry this record hasn't been reviewed yet</p>
    {% endif %}    
    <div class="artist">
        {% for album in page.albums %}
        {% for artist in album.album_artist_relationship.all  %}
            {% image artist.artist_name.profile_image fill-200x200-c100 as photo %}
                <div class="artist-image">
                    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
                </div>
            <h2>{{ artist.artist_name.title }}</h2>
            <a href="{% url 'artists' %}{{ artist.artist_name.slug }}">Artist page</a>
        {% endfor %}

        {% comment %}
        We don't attach the artist directly to the review instead we get it via
        the album.

        It's `album.album_artist_relationship` because that's what the 
        related_name is within the album/models.py file

        It's appended with `.all` (e.g. `album.album_artist_relationship.all`)
        as it would otherwise not be iterable

        We then have to use `artist_name` to get to the artist objects e.g.
        `artist.artist_name.profile_image`. We have to do this because that's
        how the ForeignKey is named within the album/models.py file
        {% endcomment %}
        {% endfor %}
    </div>
    <div class="album">
        {% for album in page.albums %}
            <figure>{% image album.image fill-200x200 %}</figure>
            <h3 class="text-center">Songs</h3>
                <ol>
                    {{ album.song_details }}
                </ol>
            {% comment %}
                static/blocks/songblock.html
            {% endcomment %}
        {% endfor %}
    </div>
</aside>
</div>
</div>
</article>





{% endblock %}
