{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article>

<header class="row">
        {% for album in page.albums %}
        <h2 class="subheadline">
            {{ album.title }} 
                <span>by</span> 
            {% for artist in album.artists %}
                {{ artist.title }}
                    {% if not forloop.last %}, {% endif %}
            {% endfor %}
                </h2>
            <p>Released {{ album.release_date }}</p>
        {% endfor %}
</header>


<aside class="meta small-12 medium-2 columns">
    Review by {% for author in page.authors %}
        <a href="{% url 'authors' %}{{ author.slug}}">{{ author.title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <p>{{ page.date_release }}</p>
    <p>{{ self.rating }}</p>
    

    
    {% for album in page.albums %}
     {% if album.genre %}
     <ul class="genre">   
        {% for foo in album.genres %}
             <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</aside>

<div class="small-12 medium-6 columns">
    <p><strong>{{ page.introduction }}</strong></p>

{% image page.image width-400 %}
{{ page.body }}
</div>

<aside class="small-12 medium-4 columns">
{% for album in page.albums %}
        <figure>{% image album.image fill-200x200 %}
        <figcaption>{{ album.image }}</figcaption>
        </figure>
        <h3>Songs:</h3>
            <ol>
                {{ album.song_details }}
            </ol>
        {% comment %}
            static/blocks/songblock.html
        {% endcomment %}
{% endfor %}
</aside>
</div>
</article>





{% endblock %}
