{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<ul>
{% for artist in page.artists %}
  <li><a href="?artist_name={{artist.name.0}}">{{ artist.name.0 }}</a></li>
  {# Add `.0` means only the first letter shows #}
{% endfor %}
</ul>

<ul>
{% for genre in page.genres %}
  <li><a href="?genre={{genre.slug}}">{{ genre.name }}</a></li>
{% endfor %}
</ul>

{% for i in "xxxxx" %}
   <a href="?rating={{forloop.counter}}">{{ forloop.counter }}</a>
   {% comment %}
   This is a quick hack because we don't have an equivalent of `for i = 1 to n`
   http://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates
   {% endcomment %}
{% endfor %}

{% for author in page.authors %}
  <li>{{ author.name }}</li>
{% endfor %}

Order by rating <a href="?sort_by=rating-desc">high to low</a> &middot; <a href="?sort_by=rating-asc">low to high</a>
<div class="row">
  <div class="columns">
    {% for review in reviews %}
            
      {% for album in review.albums %}
      <h2> 
        <a href="{{ review.url }}">
          {{ album.title }} <span>by</span>
      {% for artist in album.artists %}
            {{ artist.title }}
      {% endfor %}
        </a>
      </h2>
          <ul class="genre">
              {% for genre in album.genres %}
                  <li><a href="{{ genre.url }}">{{ genre }}</a></li>
              {% endfor %}
          </ul> 
      {% endfor %}

      {% for author in review.authors %}
            <a href="{{ author.url }}">{{ author }}</a><br />
      {% endfor %}

        {{ review.listing_introduction }}
        {% if review.image %}
              {% image review.image width-100 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        {% endif %}
        <a href="{{ review.url }}">read more</a>

    {% endfor %}
</div>
</div>

{% if reviews.paginator.count > 1 %}
  {% include "includes/pagination.html" with subpages=reviews %}
{% endif %}
{% endblock %}
