{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="row">
    <h1>Authors</h1>
    <div class="author-list">
    {% if authors %}
        {% for author in authors %}
        <div class="author-item">
            <div class="author-image">
                {{ author.image_listing }}
            </div>
            <div class="author-details">
                <h2><a href="{{ author.url }}">{{ author.title }}</a></h2>
                <h4>{{ author.job_title }}</h4>
            </div>
        </div>
        {% endfor %}

        {% else %}

        <p>Ain't no authors in this town</p>
        
        {% endif %}
    </div>
</div>
{% if authors.paginator.count > 1 %}
asfbi
        {% include "includes/pagination.html" with subpages=authors %}
        {% comment %} We use an include for the pagination to introduce 
        consistency across the site. The `authors` comes from the property that 
        we defined in the Author class {% endcomment %}
{% endif %}
{% endblock %}
</div>