{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h2>{{ author.title|capfirst }}</h2>
    <h3>{{ author.job_title }}</h3>
    {{ author.image_listing }}
    {{ author.biography|richtext }}
    {% if author.external_url %}
      <a href="{{ author.external_url }}">{{ author.title }} website</a>
    {% endif %}


	{% comment %}
		This would probably be better as a separate include?
	{% endcomment %}
   	<h3>Features</h3>
   	{% if article %}
   		{% for object in article %}
			<li><a href="{{object.url}}">{{ object.title }}</a></li>
		{% endfor %}
	{% else %}
	<p>Sorry, this author hasn't written any featured articles yet</p>
   	{% endif %}
   	<h3>Reviews</h3>
   	{% if review %}
   		{% for object in review %}
   			<li><a href="{{object.url}}">{{ object.title }}</a></li>
   		{% endfor %}
   	{% else %}
   		<p>Sorry this author hasn't written any reviews yet.</p>
   	{% endif %}

{% endblock %}