{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h2>Authors</h2>
    {% if authors %}
    <ul class="row small-up-1 medium-up-2 large-up-3" data-equalizer>
        {% include "includes/card_list.html" with object=author list=authors %}
    </ul>

    {% else %}

    <p>Ain't no authors in this town</p>
    
    {% endif %}

{% if authors.paginator.count > 1 %}
asfbi
        {% include "includes/pagination.html" with subpages=authors %}
        {% comment %} We use an include for the pagination to introduce consistency across the site. The `authors` comes from the property that we defined in the Author class {% endcomment %}
{% endif %}
{% endblock %}
