{% load navigation_tags %}

<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        {% if subpages.has_previous %}
            <li><a href="?page={{ subpages.previous_page_number }}{% if search_query %}query={{ search_query|urlencode }}{% endif %}{% if filters %}{% filters_query filters=filters %}{% endif %}" class="previous">previous</a></li>
        {% endif %}

        <li class="current">
            {{ subpages.number }}/{{ subpages.paginator.num_pages }}
        </li>

        {% if subpages.has_next %}
            <li><a href="?page={{ subpages.next_page_number }}{% if search_query %}query={{ search_query|urlencode }}{% endif %}{% if filters %}{% filters_query filters=filters %}{% endif %}" class="next">next</a></li>
        {% endif %}
    </ul>
</nav>

{% comment %}
    We should be passing through the variables for pagination via the get_context
    function on the model...
{% endcomment %}