{% load navigation_tags %}

<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        <li>
        {% if subpages.has_previous %}
            <a href="?page={{ subpages.previous_page_number }}{% if search_query %}query={{ search_query|urlencode }}{% endif %}{% if filters %}{% filters_query filters=filters %}{% endif %}" class="previous">previous</a>
            {% else %}
            <span class="previous inactive">previous</span>
        {% endif %}
        </li>

        <li class="current">
            {{ subpages.number }}/{{ subpages.paginator.num_pages }}
        </li>

        <li>
        {% if subpages.has_next %}
            <a href="?page={{ subpages.next_page_number }}{% if search_query %}query={{ search_query|urlencode }}{% endif %}{% if filters %}{% filters_query filters=filters %}{% endif %}" class="next">next</a>
            {% else %}
            <span class="next inactive">next</span>
        {% endif %}
        </li>
    </ul>
</nav>

{% comment %}
    @TODO write some actual docs here

    The variables for pagination via the get_context
    function on the model

    We're also using the navigation_tags to reduce the amount of code, and
    increase the use between apps, for paginating through filtered/searched 
    content
{% endcomment %}