{% load wagtailimages_tags %}


{% if self.style == 'square' %}
  <div class="block image square">
    <figure>
      {% image self.image fill-600x600 %}
        {% if self.caption %}
          <figcaption>{{ self.caption }}</figcaption>
        {% endif %}
    </figure>
  </div>

{% elif self.style == 'full' %}
  <div class="block image full">
    <figure>
      {% image self.image width-2000 %}
        {% if self.caption %}
          <figcaption>{{ self.caption }}</figcaption>
        {% endif %}
      </figure>
    </div>

{% elif self.style == 'fit' %}
  <div class="block image fit">
      <figure>
        {% image self.image width-1088 %}
          {% if self.caption %}
            <figcaption>{{ self.caption }}</figcaption>
          {% endif %}
      </figure>
  </div>

{% endif %}
