{% load wagtailimages_tags %}

  <ul>
    {% if self.parent_internal_link or self.parent_external_link %}
      <li>
      {% if self.parent_internal_link %}
      	<a href="/{{ self.parent_internal_link.slug}}">
      	{% elif self.parent_external_link %}
      	<a href="{{ self.parent_external_link}}">
      	{% else %}
      {% endif %}
      {{ self.parent_link_text }}
      </a></li>
      {% if self.child_link %}
      <ul>
          {% for child in self.child_link %}
            {{ child }}
          {% endfor %}
      </ul>
      {% endif %}
  </ul>
  {% endif %}
