{% load wagtailimages_tags %}




  <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
  {% if self.parent_internal_link or self.parent_external_link %}
      <li class="menu-item">
      <a data-toggle="dropdown" class="dropdown-toggle" href=
      {% if self.parent_internal_link %}
      	"/{{ self.parent_internal_link.slug}}"
      	{% elif self.parent_external_link %}
        "{{ self.parent_external_link}}"
      	{% else %}
      {% endif %}
      >
      {{ self.parent_link_text }}
      </a></li>
      {% if self.child_link %}
      <ul>
          {% for child in self.child_link %}
            {{ child }}
          {% endfor %}
      </ul>
      {% endif %}
  {% endif %}
  </ul>
</div>

{% comment %}
  This template was called by core/blocks.py and is populating base.html thanks
  to the context being called at core/templatetags/navigation_tags.py

  The child items are are a structblock within a structblock. Since they're a
  group of objects we need to populate them with a loop tag.

  See `menuitem_child.html` for notes on the conditionals.
{% endcomment %}

{% comment %}
  
{% endcomment %}