{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<a href='/'>home</a> | 
{% if '/artists/' in request.path %}
<a href="{% url 'artists' %}">artists</a> {% endif %}| {{ artist.title }}
{% comment %}
	@todo Hang your head in shame over how hacky above is. Now go and
	put it into an include!
{% endcomment %}
    <h2>{{ artist.title }}</h2>
    {{ artist.artist_image }}
    <p>{{ artist.biography|richtext }}</p>

{% comment %}
We get the features and reviews, that this artist has a relationship to, from 
our views.py file
{% endcomment %}

<h3>Features</h3>
{% if article %}
{% for object in article %}
	<li><a href="{{object.url}}">{{ object.title }}</a></li>
{% endfor %}
{% else %}
<p>Sorry there are no features for {{ artist.title }}</p>
{% endif %}

<h3>Albums</h3>
{% if album %}
	{% for object in album  %}
		<li><a href="{{object.url}}">{{ object.title }}</a>
	{% endfor %}

{% else %}
<p>Sorry there are no albums for {{ artist.title }}</p>
{% endif %}

{% endblock %}