{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h2>{{ artist.title }}</h2>
    {{ artist.artist_image }}
    <p>{{ artist.biography|richtext }}</p>

{% comment %}
We want to get the feature content here that has been tagged with this artist
Absolutely no idea...
{% endcomment %}


<h3>Features</h3>
{% for object in article %}
	<li><a href="{{object.url}}">{{ object.title }}</a></li>
{% endfor %}

{% if review %}
	<h3>Reviews</h3>
	{% for object in review  %}
		<li><a href="{{object.url}}">{{ object.title }}</a>
	{% endfor %}
{% endif %}

{% comment %}
We get the relate features from our views.py file
{% endcomment %}

{% endblock %}