<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
  <li class="menu-text"><h1>Rock 'n' roll Wagtail</h1></li>
</div>

<div class="top-bar" id="main-menu">
	<div class="row">
		<div class="columns small-12 medium-9">
			<div class="top-bar-left">
			<h1>Rock 'n' roll Wagtail</h1>
			</div>
			<div class="top-bar-right">
				{% for menu in mainmenu %}
				      	{{ menu.menu }}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% comment %}
We have arguably a rather odd system here that could no doubt be improved.

For the moment though we use the following files to create the main dropdown 
menu.

templates/tags/mainmenu.html
   -> templates/blocks/menu.html
      -> templates/blocks/menuitem_parent.html
         -> templates/blocks/menuitem_child.html
{% endcomment %}