{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{{ self.genre_filter }}

<div class="row">
<h1>Features</h1>
<div class="feature-list">
  {% for feature in features %}
    <div class="feature row">
    {% if feature.image %}
      <div class="small-12 columns">
              {% image feature.image width-700 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
      </div>
    {% endif %}
      <div class="small-12 columns">
        <div class="feature-genres">
           {% if feature.genres %}
            <ul class="genre">
                {% for genre in feature.genres %}
                    <li>
                        <a href="{{ genre.url }}">{{ genre.title }}</a>
                        {% if not forloop.last %}, {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


        <h2><a href="{{ feature.url }}">{{ feature.title }}</a></h2>
            <div class="feature-authors">
              {% if feature.authors %}
                <ul>
                  {% for author in feature.authors %}
                    <li>
                    <a href="{{ author.url }}">{{ author }}</a>
                    {% if not forloop.last %}, {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              <date class="feature-date">
                {{ feature.date }}
              </date>
            </div>

            <div class="feature-artists">
              {% if feature.artists %}
                <ul>
                  {% for artist in feature.artists %}
                    <li class="artist"><a href="{{ artist.url }}">{{ artist }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          
          <div class="feature-text">
            <a href="{{ feature.url }}">
            {% if feature.listing_introduction %}
              <p>{{ feature.listing_introduction }}</p>
            {% elif feature.introduction  %}
              <p>{{ feature.introduction }}</p>
            {% else %}
            Read more
            {% endif %}</a>
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% if features.paginator.count > 1 %}
        {% include "includes/pagination.html" with subpages=features %}
        {% comment %} We use an include for the pagination to introduce consistency
           across the site. The `features` comes from the property that we
           defined in the FeatureContentPageIndex class {% endcomment %}
{% endif %}
{% endblock %}
