{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{{ self.genre_filter }}
<h1>Features</h1>
  {% for feature in features %}
    <div class="feature row">
    {% if feature.image %}
      <div class="small-12 medium-4 columns">
              {% image feature.image width-400 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
      </div>
    {% endif %}
      <div class="small-12 medium-8 columns">
        <h2><a href="{{ feature.url }}">{{ feature.title }}</a></h2>
            <div class="clearfix">
              {% if feature.artists %}
                <ul class="inline-list">
                  {% for artist in feature.artists %}
                    <li class="artist"><a href="{{ artist.url }}">{{ artist }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if feature.authors %}
                <ul class="inline-list">
                  {% for author in feature.authors %}
                    <li class="author"><a href="{{ author.url }}">{{ author }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          
          {% if feature.feature_listing_introduction %}
            <p>{{ feature.listing_introduction }}</p>
          {% else %}
            <p>{{ feature.introduction }}</p>
          {% endif %}
          <a href="{{ feature.url }}">Read more</a>
      </div>
    </div>
  {% endfor %}


{% if features.paginator.count > 1 %}
        {% include "includes/pagination.html" with subpages=features %}
        {% comment %} We use an include for the pagination to introduce consistency
           across the site. The `features` comes from the property that we
           defined in the FeatureContentPageIndex class {% endcomment %}
{% endif %}
{% endblock %}
