{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
abc

{{ self.features }}
<div class="row">
    {% for feature in features %}
    <div class="row">
          {% for artist in feature.artists %}
            <a href="{{ artist.url }}">{{ artist }}</a>{% endfor %}

             {% for author in feature.authors %}
            <a href="{{ author.url }}">{{ author }}</a>{% endfor %}

        {{ feature.title }}
        {{ feature.listing_introduction }}
        {% if feature.image %}
              {% image feature.image width-100 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        {% endif %}
        <a href="{{ feature.url }}">{{ feature.url }}</a>
    </div>
    {% endfor %}
</div>

{% if feature %}
{% endif %}


{% if paginate_list.paginator.num_pages > 1 %}
  blah blah blah
{% endif %}
{% endblock %}
