{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="article">
    <div class="header">
        <div class="row feature_title">
            <div class="columns small-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>


        <aside>
            <div class="row feature_artist_genre">
                <div class="columns small-12 text-center">
                    <ul class="artists">
                    {% for artist in page.artists %}
                        <li class="artist">
                            <a href="{% url 'artists' %}{{ artist.slug}}">{{ artist.title|title }}</a>
                            {% if not forloop.last %}, {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% if page.genres %}
                    <ul class="genres">
                        {% for genre in page.genres %}
                            <li class="genre">
                                {% comment %}
                                <a href="{{ genre.url }}">{{ genre.title }}</a>
                                This would take you to the genre detail page   
                                {% endcomment %}
                                <a href="../?genre={{ genre.slug }}">{{ genre.title }}</a>
                                {# This will instead filter the features on the index page #}
                                {% if not forloop.last %}, {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row feature_title-meta">
                    <span class="date">
                        <strong>Written</strong> <date>{{ page.date|date:"F d Y" }}</date>
                    </span>
                    
                    <ul class="authors">
                    <strong>by</strong> {% for author in page.authors %}
                        {% if forloop.last and forloop.counter > 1 %}
                        &nbsp;and&nbsp;
                        {% endif %}
                            <li><a href="{% url 'authors' %}{{ author.slug}}">{{ author.title }}</a></li>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </ul>
            </div>
        </aside>
    </div>

{% comment %}
<div class="listing_image">
    {% image page.image width-720 %}
</div>

Note: We aren't showing the listing image on the individual feature page, with
the expectation that this would be an editorial decision based on the context-
ual needs of a feature. e.g. it may be more appropriate to have a video, block-
quote &etc.
{% endcomment %}

{% if page.introduction %}
    <div class="feature-introduction">
        <div class="row">{{ page.introduction }}</div>        
    </div>
{% endif %}

<div class="feature-content">
    {% if page.body %}
        <div class="feature-body">
            {{ page.body }}
        </div>
    {% endif %}
</div>

</div>
</div>
</div>
{% endblock %}

{% comment %}
ARTISTS
Artist has been placed into the page by the authors @property.
We get content from it by model.property e.g. `artist.title`

But wait... with the URL all we have is the slug. How to get /artists/
We do this with the eosoterically named reverse resolution of URLs
c/f https://docs.djangoproject.com/en/1.10/topics/http/urls/#reverse-resolution-of-urls

Have a look in artist/urls.py and you'll see that the artists list
has `name=artists`. You need that there for Django to know how to resolve
the URL and you'll hit annoying 404s.
{% endcomment %}